
/* div {
    display: inline-block;
    border: 1px solid black;
} */


body {
    font-family: 'Sora', sans-serif;
    margin: 2%;
}


#search-form {
    margin-bottom: 5%;
}

.header {
    width: 100%;
    margin-bottom: 50px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
}


.content {
    width: 100%;
    height: 80vh;
    display: flex;
}


#side-column {
    height: 100%;
    width: 30%;
    padding: 2%;
    border: solid 1px black;
    border-radius: 10px;
    margin-right: 10px;
}

#local-storage button {
    width: 100%;
}

#output {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.big-div {
    width: 100%;
    height: 50%;
    padding: 2%;
  }

  .small-div {
    flex-grow: 1;
    height: 50%;
    padding: 10px;
  }
  
  
  form label {
    font-size: 32px;
  }
  
  form input {
    width: 100%;
  }